{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "trailingCooma": "none",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "none"
}
